<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inbox</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>Read</th>
        <th>From</th>
        <th>To</th>
        <th>Message</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="m : ${msgs}">
        <td th:text="${m.isWasRead()}"></td>
        <td th:text="${m.getSender()==null? '' : m.getSender().getName()}"></td>
        <td th:text="${m.getReceiver()==null? '' : m.getReceiver().getName()}"></td>
        <td th:text="${m.getText()}"></td>
    </tr>
    </tbody>
</table>

<p>
    <a href="/write">Write message</a>
</p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>